openapi: 3.0.3
info:
  title: Alter Manager API
  description: |
    Alter Manager 2024 Theme API servisleri için dokümantasyon.
    
    ## Authentication
    API endpoint'leri JWT token ile korunmaktadır. 
    
    ### Kullanım Adımları:
    1. `/api/login` endpoint'ine POST isteği göndererek token alın
    2. Aldığınız token'ı diğer endpoint'lerde `Authorization: Bearer {token}` header'ı ile gönderin
    
    ### JWT Implementation
    - Library: Lcobucci JWT v4.x
    - Algorithm: HS256 (HMAC SHA-256)
    - Token Lifetime: 60 dakika (default)
    - Token Format: Standard JWT (Header.Payload.Signature)
    
    ### CORS Support
    Tüm endpoint'ler CORS desteği ile gelir:
    - `Access-Control-Allow-Origin: *`
    - `Access-Control-Allow-Methods: GET, POST, OPTIONS`
    - `Access-Control-Allow-Headers: Content-Type, Authorization`
    
  version: 2.0.0
  contact:
    name: Livstag / Alter Digital
    url: https://alter.com.tr
  license:
    name: MIT

servers:
  - url: https://api.alter.com.tr
    description: Production server
  - url: http://localhost
    description: Local development server

tags:
  - name: Authentication
    description: Kimlik doğrulama işlemleri
  - name: Users
    description: Kullanıcı yönetimi
  - name: Units
    description: Birim yönetimi
  - name: Projects
    description: Proje yönetimi
  - name: Communications
    description: İletişim kayıtları

paths:
  /api/login:
    post:
      tags:
        - Authentication
      summary: Kullanıcı girişi
      description: Email ve şifre ile giriş yaparak JWT token alın
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                  description: Kullanıcı e-posta adresi
                password:
                  type: string
                  format: password
                  example: password123
                  description: Kullanıcı şifresi (minimum uzunluk kontrolü yok)
      responses:
        '200':
          description: Giriş başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  access_token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                    description: JWT access token (Lcobucci JWT v4.x)
                  token_type:
                    type: string
                    example: Bearer
                    description: Token tipi
                  expires_in:
                    type: integer
                    example: 3600
                    description: Token geçerlilik süresi (saniye cinsinden)
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Geçersiz kimlik bilgileri (kullanıcı bulunamadı veya şifre hatalı)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Geçersiz kimlik bilgileri
        '422':
          description: Validation hatası (eksik alanlar)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Email ve password gerekli
        '405':
          description: Yanlış HTTP metodu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Method not allowed
    options:
      tags:
        - Authentication
      summary: CORS preflight
      description: CORS preflight request
      responses:
        '204':
          description: No content

  /api/users:
    get:
      tags:
        - Users
      summary: Kullanıcı listesi
      description: Sistemdeki tüm kullanıcıları listeler (JWT token gerekli)
      operationId: getUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Users
      summary: Kullanıcı şifresi güncelle
      description: Kullanıcıların kendi hesap şifrelerini güncellemelerini sağlar. JWT token gereklidir.
      operationId: updateOwnPassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - current_password
                - password
                - password_confirmation
              properties:
                user_id:
                  type: integer
                  description: Şifresi güncellenecek kullanıcının ID değeri. Sadece giriş yapan kullanıcının kendi ID'si kabul edilir.
                  example: 12
                current_password:
                  type: string
                  format: password
                  description: Mevcut şifre
                  example: eskiSifre123
                password:
                  type: string
                  format: password
                  description: Yeni şifre (en az 8 karakter)
                  example: YeniSifre456
                password_confirmation:
                  type: string
                  format: password
                  description: Yeni şifre tekrarı
                  example: YeniSifre456
      responses:
        '200':
          description: Şifre başarıyla güncellendi
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Şifre başarıyla güncellendi
        '400':
          description: Geçersiz JSON isteği
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Yetkisiz işlem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      tags:
        - Users
      summary: CORS preflight
      responses:
        '204':
          description: No content

  /api/forms:
    get:
      tags:
        - Forms
      summary: Kullanıcıya atanmış formları listele
      description: Kullanıcının gönderim yapma yetkisi bulunan formları döndürür.
      operationId: listForms
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  forms:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormSummary'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/forms/{code}:
    get:
      tags:
        - Forms
      summary: Form detayını getir
      description: Form alanları ve sabit alanlarla birlikte form meta verisini döndürür.
      operationId: getFormByCode
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
          description: Formun benzersiz kodu (örneğin `izin-formu`)
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  form:
                    $ref: '#/components/schemas/FormDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Yetkisiz erişim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Form bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Forms
      summary: Form gönderimi yap
      description: İlgili form için yeni bir başvuru oluşturur.
      operationId: submitForm
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
          description: Formun benzersiz kodu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSubmissionRequest'
      responses:
        '201':
          description: Form başarıyla gönderildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionCreated'
        '400':
          description: Geçersiz JSON isteği
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Yetkisiz işlem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Form bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/forms/submissions:
    get:
      tags:
        - Forms
      summary: Form başvurularını listele
      description: Kullanıcının kendi başvurularını ve onay bekleyen başvuruları döndürür.
      operationId: listFormSubmissions
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: include_archived
          schema:
            type: boolean
          description: true ise arşivlenmiş başvurular da listeye eklenir.
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  submissions:
                    type: object
                    properties:
                      mine:
                        type: array
                        items:
                          $ref: '#/components/schemas/FormSubmissionListItem'
                      pending_approvals:
                        type: array
                        items:
                          $ref: '#/components/schemas/FormSubmissionListItem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/forms/submissions/{id}:
    get:
      tags:
        - Forms
      summary: Form başvurusunu görüntüle
      description: Başvurunun detaylarını ve gönderilen kayıtları döndürür.
      operationId: getFormSubmission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Başvuru ID değeri
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  submission:
                    $ref: '#/components/schemas/FormSubmissionDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Yetkisiz erişim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Başvuru bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Forms
      summary: Form başvurusu üzerinde işlem yap
      description: Başvuruyu onaylar, reddeder veya iptal eder.
      operationId: actOnFormSubmission
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: Başvuru ID değeri
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionActionRequest'
      responses:
        '200':
          description: İşlem başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionUpdateResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Yetkisiz işlem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Başvuru bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Geçersiz başvuru durumu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/units:
    get:
      tags:
        - Units
      summary: Birim listesi
      description: Sistemdeki tüm birimleri ve bağlı kullanıcıları listeler (JWT token gerekli)
      operationId: getUnits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  units:
                    type: array
                    items:
                      $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    options:
      tags:
        - Units
      summary: CORS preflight
      responses:
        '204':
          description: No content

  /api/projects:
    get:
      tags:
        - Projects
      summary: Proje listesi
      description: Sistemdeki tüm projeleri ve üyeleri listeler (JWT token gerekli)
      operationId: getProjects
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    options:
      tags:
        - Projects
      summary: CORS preflight
      responses:
        '204':
          description: No content

  /api/communications:
    get:
      tags:
        - Communications
      summary: İletişim kayıtları
      description: Sistemdeki tüm iletişim kayıtlarını listeler (JWT token gerekli)
      operationId: getCommunications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  communications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Communication'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    options:
      tags:
        - Communications
      summary: CORS preflight
      responses:
        '204':
          description: No content

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token ile authentication. 
        Önce `/api/login` endpoint'inden token alın, 
        sonra `Authorization: Bearer {token}` header'ı ile kullanın.

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: Kullanıcı ID
        email:
          type: string
          format: email
          example: user@example.com
          description: E-posta adresi
        first_name:
          type: string
          example: Taylan
          description: Ad
        last_name:
          type: string
          example: Koca
          description: Soyad
        phone:
          type: string
          example: "+905333373409"
          nullable: true
          description: Telefon numarası
        title:
          type: string
          example: "YAZILIM GELİŞTİRİCİ"
          nullable: true
          description: İş ünvanı
        location:
          type: string
          example: "MERKEZ"
          nullable: true
          description: Çalışma lokasyonu
        relation:
          type: string
          example: "TASERON"
          nullable: true
          description: Çalışan ilişki türü
        tckn:
          type: string
          nullable: true
          example: "12345678901"
          description: TC Kimlik No
        new_id:
          type: integer
          nullable: true
          example: 10
          description: Yeni sıralama ID
        onboarded:
          type: integer
          example: 1
          description: Onboarding durumu (0 veya 1)
        is_active:
          type: integer
          example: 1
          description: Aktif kullanıcı mı (0 veya 1)
        is_accessible:
          type: boolean
          nullable: true
          example: null
          description: Erişilebilirlik durumu
        last_signedin_at:
          type: string
          format: date-time
          example: "2025-11-10T15:04:21.839992Z"
          nullable: true
          description: Son giriş zamanı
        created_at:
          type: string
          format: date-time
          example: "2025-10-06 11:40:37"
          description: Oluşturulma zamanı
        updated_at:
          type: string
          format: date-time
          example: "2025-11-10 18:04:21"
          description: Güncellenme zamanı
        deleted_at:
          type: string
          format: date-time
          nullable: true
          example: null
          description: Silinme zamanı (soft delete)

    Unit:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: Birim ID
        name:
          type: string
          example: "İnsan Kaynakları"
          description: Birim adı
        slug:
          type: string
          example: "insan-kaynaklari"
          description: Birim slug
        description:
          type: string
          nullable: true
          description: Birim açıklaması
        parent_id:
          type: integer
          nullable: true
          example: null
          description: Üst birim ID
        users:
          type: array
          description: Birime bağlı kullanıcılar (new_id'ye göre sıralanmış, null'lar sonda)
          items:
            $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
          example: "2025-01-15 10:00:00"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-10 12:00:00"
        deleted_at:
          type: string
          format: date-time
          nullable: true
          example: null
          description: Silinme zamanı (soft delete)

    Project:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: Proje ID
        name:
          type: string
          example: "Alter Manager 2024"
          description: Proje adı
        slug:
          type: string
          example: "alter-manager-2024"
          description: Proje slug
        description:
          type: string
          nullable: true
          description: Proje açıklaması
        status:
          type: string
          enum: [active, completed, cancelled, on_hold]
          example: "active"
          description: Proje durumu
        members:
          type: array
          description: Proje üyeleri (password ve data alanları gizlenmiş)
          items:
            $ref: '#/components/schemas/ProjectMember'
        created_at:
          type: string
          format: date-time
          example: "2025-01-15 10:00:00"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-10 12:00:00"
        deleted_at:
          type: string
          format: date-time
          nullable: true
          example: null
          description: Silinme zamanı (soft delete)

    ProjectMember:
      type: object
      description: Proje üyesi (data alanı gizlenmiş, user içinde password ve data alanları gizlenmiş)
      properties:
        id:
          type: integer
          example: 1
          description: Üyelik ID
        project_id:
          type: integer
          example: 1
          description: Proje ID
        user_id:
          type: integer
          example: 5
          description: Kullanıcı ID
        role:
          type: string
          enum: [admin, member]
          example: "member"
          description: Üye rolü
        user:
          $ref: '#/components/schemas/User'
          description: Kullanıcı bilgileri (password ve data alanları gizlenmiş)
        created_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-01-15 10:00:00"
        updated_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-11-10 12:00:00"

    FormSummary:
      type: object
      properties:
        id:
          type: integer
          example: 5
          description: Form ID
        code:
          type: string
          example: "izin-formu"
          description: Form kodu
        title:
          type: string
          example: "İzin Formu"
          description: Form başlığı
        description:
          type: string
          nullable: true
          example: "Personel izin taleplerini toplamak için kullanılır."
          description: Form açıklaması
        requires_approval:
          type: boolean
          example: true
          description: Form için onay süreci gerekli mi?
        can_submit:
          type: boolean
          example: true
          description: Kullanıcı formu doldurabilir mi?
        can_approve:
          type: boolean
          example: false
          description: Kullanıcının form onaylama yetkisi var mı?
        updated_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-01-15T10:00:00Z"
          description: Son güncelleme zamanı

    FormStaticField:
      type: object
      properties:
        key:
          type: string
          example: "tarih"
          description: Alan anahtarı
        label:
          type: string
          example: "Tarih"
          description: Ekranda gösterilecek etiket
        type:
          type: string
          example: "date"
          description: Alan türü (text, date, time, vb.)
        default:
          type: string
          nullable: true
          example: "2025-01-15"
          description: Varsayılan değer
        required:
          type: boolean
          example: true
          description: Alan zorunlu mu?
        read_only:
          type: boolean
          example: true
          description: Alan salt okunur mu?

    FormDynamicField:
      type: object
      properties:
        id:
          type: integer
          example: 12
          description: Veritabanındaki alan ID'si
        key:
          type: string
          example: "izin_baslangic_tarihi"
          description: Alan anahtarı
        label:
          type: string
          example: "İzin Başlangıç Tarihi"
          description: Alan etiketi
        type:
          type: string
          example: "date"
          description: Alan türü (text, textarea, checkbox, vb.)
        required:
          type: boolean
          example: true
          description: Alan zorunlu mu?
        read_only:
          type: boolean
          example: false
          description: Alan salt okunur mu?
        default:
          type: string
          nullable: true
          description: Varsayılan değer
        options:
          type: array
          items:
            type: string
          example: ["Opsiyon 1", "Opsiyon 2"]
          description: Çoklu seçim alanları için seçenek listesi
        sort_order:
          type: integer
          nullable: true
          example: 1
          description: Alanın form içindeki sıralama değeri

    FormDetail:
      type: object
      properties:
        id:
          type: integer
          example: 5
        code:
          type: string
          example: "izin-formu"
        title:
          type: string
          example: "İzin Formu"
        description:
          type: string
          nullable: true
        requires_approval:
          type: boolean
          example: true
        static_fields:
          type: array
          items:
            $ref: '#/components/schemas/FormStaticField'
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FormDynamicField'
        can_submit:
          type: boolean
          example: true
        can_approve:
          type: boolean
          example: false

    FormSubmissionForm:
      type: object
      properties:
        id:
          type: integer
          example: 5
        code:
          type: string
          example: "izin-formu"
        title:
          type: string
          example: "İzin Formu"

    UserSummary:
      type: object
      properties:
        id:
          type: integer
          example: 8
        first_name:
          type: string
          example: "Ayşe"
        last_name:
          type: string
          example: "Yılmaz"
        email:
          type: string
          format: email
          example: "ayse.yilmaz@example.com"

    FormSubmissionRecord:
      type: object
      properties:
        id:
          type: integer
          example: 42
        field_name:
          type: string
          example: "İzin Başlangıç Tarihi"
        value:
          type: string
          nullable: true
          example: "2025-02-01"

    FormApprovalEntry:
      type: object
      properties:
        id:
          type: integer
          example: 10
        approver_id:
          type: integer
          example: 3
        status:
          type: string
          enum: [approved, rejected]
          example: "approved"
        note:
          type: string
          nullable: true
          example: "Onaylandı."
        approved_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-01-16T08:30:00Z"

    FormSubmissionListItem:
      type: object
      properties:
        id:
          type: integer
          example: 120
        form:
          $ref: '#/components/schemas/FormSubmissionForm'
        form_number:
          type: string
          example: "İF-00045"
        status:
          type: string
          example: "pending"
        is_archived:
          type: boolean
          example: false
        submitted_at:
          type: string
          format: date-time
          example: "2025-01-15T09:45:00Z"
        user:
          $ref: '#/components/schemas/UserSummary'
          nullable: true
          description: Başvuruyu yapan kullanıcı (pending_approvals listelerinde döner)

    FormSubmissionDetail:
      type: object
      properties:
        id:
          type: integer
          example: 120
        form:
          $ref: '#/components/schemas/FormSubmissionForm'
        form_number:
          type: string
          example: "İF-00045"
        status:
          type: string
          example: "pending"
        is_archived:
          type: boolean
          example: false
        submitted_at:
          type: string
          format: date-time
          example: "2025-01-15T09:45:00Z"
        user:
          $ref: '#/components/schemas/UserSummary'
        records:
          type: array
          items:
            $ref: '#/components/schemas/FormSubmissionRecord'
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/FormApprovalEntry'
        can_approve:
          type: boolean
          example: true

    FormSubmissionCreated:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Form başarıyla gönderildi."
        submission:
          type: object
          properties:
            id:
              type: integer
              example: 120
            form_number:
              type: string
              example: "İF-00045"
            status:
              type: string
              example: "pending"
            submitted_at:
              type: string
              format: date-time
              nullable: true
              example: "2025-01-15T09:45:00Z"

    FormSubmissionUpdateResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "Başvuru başarıyla onaylandı."
        submission:
          type: object
          properties:
            id:
              type: integer
              example: 120
            status:
              type: string
              example: "approved"
            is_archived:
              type: boolean
              example: false
            updated_at:
              type: string
              format: date-time
              nullable: true
              example: "2025-01-16T08:30:00Z"

    FormSubmissionRequest:
      type: object
      properties:
        tarih:
          type: string
          nullable: true
          example: "2025-01-15"
          description: Form için kullanılan tarih alanı
        saat:
          type: string
          nullable: true
          example: "09:30"
          description: Form için kullanılan saat alanı
        personel_adi_soyadi:
          type: string
          nullable: true
          example: "Ayşe Yılmaz"
        personel_gorevi:
          type: string
          nullable: true
          example: "İnsan Kaynakları Uzmanı"
        fields:
          type: object
          description: Dinamik form alanlarının anahtar/değer haritası
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                items:
                  type: string
          example:
            seyahat_baslangic_tarihi: "2025-03-01"
            seyahat_bitis_tarihi: "2025-03-05"
            arac_talebi: true

    SubmissionActionRequest:
      type: object
      required:
        - action
      properties:
        action:
          type: string
          enum: [approve, reject, cancel]
          example: "approve"
          description: Yapılacak işlem
        note:
          type: string
          nullable: true
          example: "Onaylandı, iyi yolculuklar."

    Communication:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: İletişim ID
        title:
          type: string
          example: "Proje Toplantısı"
          description: İletişim başlığı
        institution:
          type: string
          example: "Alter A.Ş."
          description: Kurum adı
        direction:
          type: string
          enum: [incoming, outgoing]
          example: "outgoing"
          description: İletişim yönü
        code:
          type: string
          example: "ALT-2024-001"
          description: İletişim kodu
        communicated_at:
          type: string
          format: date-time
          example: "2024-01-15T14:30:00Z"
          description: İletişim tarihi
        project_id:
          type: integer
          nullable: true
          example: 1
          description: Bağlı proje ID
        is_private:
          type: boolean
          example: false
          description: Özel mi?
        file:
          type: string
          nullable: true
          description: Dosya URL
        status:
          type: array
          items:
            type: string
          nullable: true
          example: ["pending", "approved"]
          description: İletişim durumları
        created_at:
          type: string
          format: date-time
          example: "2025-01-15 10:00:00"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-10 12:00:00"
        deleted_at:
          type: string
          format: date-time
          nullable: true
          example: null
          description: Silinme zamanı (soft delete)

    Error:
      type: object
      properties:
        message:
          type: string
          example: "Hata mesajı"
          description: Hata açıklaması
        error:
          type: string
          nullable: true
          description: Opsiyonel hata detayı

    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/Error'

  responses:
    UnauthorizedError:
      description: Token gerekli veya geçersiz token
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  message:
                    type: string
                  error:
                    type: string
                  debug:
                    type: object
          examples:
            tokenMissing:
              summary: Authorization header eksik
              value:
                message: Token gerekli
            invalidSignature:
              summary: Token imzası geçersiz
              value:
                message: Token imzası geçersiz
            tokenExpired:
              summary: Token süresi dolmuş
              value:
                message: Token süresi dolmuş
            validationError:
              summary: Token doğrulama hatası (detaylı)
              value:
                message: "Token doğrulanamadı: {error_message}"
                error: "Detaylı hata mesajı"
            userNotFound:
              summary: Token geçerli ama kullanıcı bulunamadı
              value:
                message: Kullanıcı bulunamadı

